@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.header {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    padding: 14px;
    position: fixed;
    top: 0;
    left: 0;

    .title {
        font-size: 20px;
        font-weight: 500;
    }

    .subtitle {
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 600px;
}

.quality {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Roboto Flex', sans-serif;
    width: 580px;
    height: fit-content;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background-color: rgba(17, 17, 17, 0.508);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.01), 
                inset 0 0 20px rgba(255, 255, 255, 0.01), 
                inset 0 0 30px rgba(255, 255, 255, 0.01);
    
    .label {
        text-wrap: nowrap;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);
    }
    .btns {
        display: flex;
        gap: 10px;

        .btn {
            text-wrap: nowrap;
            font-size: 16px;
            border: 1px solid rgba(255, 255, 255, 0.06);
            box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.01);
            background-color: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.7);
            padding: 6px 16px;
            border-radius: 16px;
            transition: all 0.2s ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.2);
                transition: all 0.2s ease-in-out;

            }
            &.active {
                background-color: rgba(255, 255, 255, 0.7);
                color: rgba(0, 0, 0, 0.836);
                transition: all 0.2s ease-in-out;
            }
        }
    }
}

#drag-and-drop {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background-color: rgba(17, 17, 17, 0.508);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.01), 
                inset 0 0 20px rgba(255, 255, 255, 0.01), 
                inset 0 0 30px rgba(255, 255, 255, 0.01);

    .text {
        font-family: 'Roboto Flex', sans-serif;
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        svg {
            fill: rgba(255, 255, 255, 0.7);
            width: 30px;
            height: 30px;
        }

    }

    .loading {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 20px;
        background: #ffffff linear-gradient(90deg, #ffffff, #484848, #ffffff);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 50% 200%;
        animation: loading 1.2s linear infinite;
        background-repeat: no-repeat;
    }

    @keyframes loading {
        0% {
            background-position: -100% 0%;
        }
        100% {
            background-position: 200% 0%;
        }
    }

    &:hover {
        cursor: pointer;
    }
  }

.background {
    background-color: rgb(81, 0, 255);
    width: 600px;
    height: 400px;
    border-radius: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    filter: blur(200px);
    animation: one 2s infinite alternate;
    opacity: 0.5;

    &.two {
        opacity: 0.9;
        width: 700px;
        height: 200px;
        background-color: rgb(182, 148, 255);
        animation: two 2.1s infinite alternate;
    }

    &.three {
        opacity: 0.1;
        width: 1100px;
        height: 800px;
        background-color: rgb(55, 52, 252);
        animation: three 2.2s infinite alternate;

    }
}

@keyframes one {
    0% {
        filter: blur(160px);
        width: 600px;
        height: 400px;
    }
    100% {
        filter: blur(240px);
        width: 800px;
        height: 600px;
    }
}

@keyframes two {
    0% {
        filter: blur(160px);
        width: 700px;
        height: 200px;
    }
    100% {
        filter: blur(240px);
        width: 800px;
        height: 400px;
    }
}

@keyframes three {
    0% {
        filter: blur(160px);
        width: 1100px;
        height: 800px;
    }
    100% {
        filter: blur(240px);
        width: 1200px;
        height: 800px;
    }
}